@import '../../../main-styles.scss';

.task-manager-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
    padding: 8px;
    background: white;
    border-radius: 8px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: white;
    padding: 42px;
}

.task-list-container {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 8px;
    padding: 42px;
    position: relative;
}

.title {
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;
    padding: 0px 0px 10px 0px;
    border: 10px solid white;
    overflow:hidden;

    &:hover{
        overflow: auto;
        opacity: 1;
    }

    .list-menu-item {
        display: flex;
        align-items: center;
        padding: 10px 15px; 
        border-radius: 5px;
        width: 100%;
        color: #5f5f5f;
        margin-bottom: 5px;

        &:hover{
            background: $light;
        }
        &.is-active {
            background-color: #eddbf4;
            color: $dark-green;
        }
    }
}

.task {
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
    display: flex;

    &:not(.completed) {
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        cursor: pointer;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            box-shadow: 0 0 0 5px #eeeeee;
        }    
    }

    &.completed {
        text-decoration: line-through;
        opacity: 0.8;
        background: rgb(228, 228, 228);
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        cursor: pointer;
        &:active {
            transform: scale(0.95);
        }

        &:hover {
            box-shadow: 0 0 0 5px rgb(189, 189, 189);
        }    
    }
}
.circle-add-button {
    height:50px;
    width: 50px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
}

input[type=checkbox], input[type=radio] {
    margin-right: 10px;
}


@media(max-width: 500px){

    .task-manager-container {
        display: block;
        width: 100%;
        height: 100%;
        background: white;
        max-width: 100%;
        padding: 25px;
        max-height: 100%;
        border-radius: 0px;
    }

    .task-list-container {
        margin-top: 42px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 0px;
        width: 100%;
        max-height: 100%;
    }

    .modal-card {
        padding: 15px;
    }

    .modal-title {
        font-size: 30px;
        text-align: center;
        background-color: #7E4EAC;
        padding: 5px;
        border-top-left-radius: 6px; 
        border-top-right-radius: 6px;
        margin: 0px;
        font-family: 'Lato';
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .title {
        font-size: 30px;
        text-align: center;
        background-color: #7E4EAC;
        padding: 5px;
        border-radius: 6px;
    }

    .list-menu {
        margin-top: 0px; 
        overflow: auto;
    }

    .has-text-primary {
        color: white !important;
    }

    .modal-card-foot {
        padding: 8px;
        justify-content: right;
    }

}