// this is where we change variables for global styles

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap');

$torquoise: #E2A8FE;
$green: #7E4EAC;
$light-green: #52307c;
$dark-green: #3c1361;
$light: #f8f8f8;

$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $light-green;

$control-border-width: 2px;
$input-border-colour: transparent;
$input-shadow: none;

html{
    background: linear-gradient(to right top, $torquoise, $green);
}

html, body{
    height: 100%;
    overflow: auto;
    color: royal;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}